@page "/test"
@using AnimeStats.Components.Layout

<h1>Test all components from MudBlazor</h1>


<TvDragDrop/>

<TvGrid/>

<TvCarousel/>

<TvPopover />


<!-- Example usage of MudCakeTest component -->
<TvCard />